﻿
<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        <p>
            <ol>
                <li>Press on phone icon to call CDSC to view phone dialer
</li>
                <li>
                    Press on Facebook icon to view Facebook page.
                </li>
                <li>
                    Press on Twitter page to view Twitter page.
                </li>
            </ol>


        </p>
        <img class="img-responsive" src="~/Images/Screenshot_2017-11-27-00-21-04.png" />
        <img class="img-responsive" src="~/Images/Screenshot_2017-11-27-00-21-31.png" />
        <img class="img-responsive" src="~/Images/Screenshot_2017-11-27-20-54-21.png" />

    </div>

</div>
