﻿
<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        <p>
            <ol>
                <li>
                    Select Yes or No to deregister the account.
                </li>
                <li>Press submit after desired action.
</li>
            </ol>


        </p>
        <img class="img-responsive" src="~/Images/Screenshot_2017-11-27-00-21-09.png" />

    </div>

</div>
