﻿<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        <p>
            <ol>
                <li>
                    Press on desired alert type and vie
                </li>
                <li>
                    Types of alerts Account Alerts, Trade Alerts, General Information
                </li>
            </ol>

            <h3>Marking Of Messages</h3>
            <ol>
                <li>
                    Press hold messages then on message dialog pop up select Yes to mark message as read then messages expires after one week.

                </li>
                <li>
                    This action applies to all alert type sections.

                </li>
            </ol>
             
        </p>
        <img class="img-responsive" src="~/Images/Screenshot_2017-11-27-00-20-17.png" />

    </div>

</div>